---
layout: default
title: Rachel Hisko Designs • Work Display
meta: Main page of portfolio website
---

<section>
  {% include banner.html %}
</section>

<section id="home">
  {% include cards.html url="/daily-bailey/" file="images/dailey-bailey-home.jpg" alt="Smart Product Prototype" title="Dailey Bailey" caption="Smart Product Prototype" description="Daily Bailey is a concept that will assist the lives of dog owners, with a smart dog collar, which connects to you mobile devices." url="/daily-bailey/" link="View Case Study"%}
  {% include cards.html url="/ocean-360/" file="images/ocean360-home.jpg" alt="Wearables Prototype" title="Ocean360" caption="Wearables Prototype" description="A wearable prototype concept that is directly connected to the scuba divers goggles. Ocean360 improves the scuba diving experience by ensuring the diver that their photos will never get lost." url="/ocean-360/" link="View Case Study"%}
  {% include cards.html url="/seafood-eats/" file="images/seafood-home.jpg" alt="Global Goals Application" title="Seafood Eats" caption="Global Goals Application" description="Seafood Eats is an application concept that addresses the Global Goals. It provides it users with the tools they need to help impact our oceans." url="/seafood-eats/" link="View Case Study"%}
  {% include cards.html url="/intouch/" file="images/intouch-home.jpg" alt="School Application" title="Intouch" caption="Stay Connected" description="InTouch is an application concept that provides a stress free life for both parents and students. It will be provided to students through their post-secondary school." url="/intouch/" link="View Case Study"%}
  {% include cards.html url="/photography/" file="images/photography-home.jpg" alt="Photography 2015-2017" title="Photography" caption="2015-2017" description="Collection of my photography over the past three years. I am very grateful for the opportunities that allowed me to capture such amazing moment in peoples lives." url="/photography/" link="View Photography"%}
  {% include cards.html url="/motion/" file="images/motion-home.jpg" alt="Motion" title="Motion" caption="" description="A few motion pieces that were done during my three years of school. I enjoy animating user interface and making it flow like it would on your phone." url="/motion/" link="View Motion Pieces"%}
