---
layout: default
title: Rachel Hisko Designs • Work Display
meta: Main page of portfolio website
---

<section>
  {% include banner.html %}
</section>

<section>
  {% include cards.html url="/daily-bailey/" file="images/dailey-bailey-home.jpg" alt="Smart Product Prototype" title="Dailey Bailey" caption="Smart Product Prototype" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna." url="/daily-bailey/" link="View Case Study"%}
  {% include cards.html url="/ocean-360/" file="images/ocean360-home.jpg" alt="Wearables Prototype" title="Ocean360" caption="Wearables Prototype" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna." url="/ocean-360/" link="View Case Study"%}
  {% include cards.html url="/seafood-eats/" file="images/seafood-home.jpg" alt="Global Goals Application" title="Seafood Eats" caption="Global Goals Application" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna." url="/seafood-eats/" link="View Case Study"%}
  {% include cards.html url="/intouch/" file="images/intouch-home.jpg" alt="School Application" title="Intouch" caption="Stay Connected" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna." url="/intouch/" link="View Case Study"%}
  {% include cards.html url="/intouch/" file="images/intouch-home.jpg" alt="School Application" title="Intouch" caption="Stay Connected" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna." url="/intouch/" link="View Case Study"%}
  {% include cards.html url="/intouch/" file="images/intouch-home.jpg" alt="School Application" title="Intouch" caption="Stay Connected" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna." url="/intouch/" link="View Case Study"%}
  {% include cards.html url="/intouch/" file="images/intouch-home.jpg" alt="School Application" title="Intouch" caption="Stay Connected" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna." url="/intouch/" link="View Case Study"%}
