---
layout: default
title: Rachel Hisko Designs • Work Display
meta: Main page of portfolio website
---

<section>
  {% include banner.html %}
</section>

<section>
  {% include cards.html url="/daily-bailey/" file="images/dailey-bailey-home.jpg" alt="Smart Product Prototype" title="Dailey Bailey" caption="Smart Product Prototype" description="Smart dog collar concept that is connected to your mobile device. Daily Bailey helps dogs owners live a stress free life." url="/daily-bailey/" link="View Case Study"%}
  {% include cards.html url="/ocean-360/" file="images/ocean360-home.jpg" alt="Wearables Prototype" title="Ocean360" caption="Wearables Prototype" description="Ocean360 is a wearables prototype concept that is directly connected to the scuba divers googles. Ocean360 improves the scuba diving experience because it ensures the diver that their photos will never get lost." url="/ocean-360/" link="View Case Study"%}
  {% include cards.html url="/seafood-eats/" file="images/seafood-home.jpg" alt="Global Goals Application" title="Seafood Eats" caption="Global Goals Application" description="Seafood Eats is an application concept that address the global goals. It provides it users with the tool they need to help impact our oceans." url="/seafood-eats/" link="View Case Study"%}
  {% include cards.html url="/intouch/" file="images/intouch-home.jpg" alt="School Application" title="Intouch" caption="Stay Connected" description="InTouch is an application concept that provides a stress free life for both parents and students. It will be provided to students through their post-secondary school." url="/intouch/" link="View Case Study"%}
  {% include cards.html url="/photography/" file="images/photography-home.jpg" alt="Photography 2015-2017" title="Photography" caption="2015-2017" description="Collection of my photography over the past three years. I am very grateful for the opportunities that allowed me to capture such amazing moment in peoples lives." url="/photography/" link="View Photography"%}
  {% include cards.html url="/motion/" file="images/motion-home.jpg" alt="Motion" title="Motion" caption="" description="A few motion pieces that were done during my three years of school. I enjoy animating user interface and making it flow like it would on your phone. " url="/motion/" link="View Motion Pieces"%}
