html {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  background-color: #ffffff;
}

.button {
  color: #424242;
}

.button:hover {
  color: #D500F9;
  text-decoration: none;
}

.card {
  background-color: #f9f9f9;
  color: #424242;
}

.banner {
  background-color: #1C1C1C;
  color: white;
  height: 15em;
}

.nav {
  background-color: #1C1C1C;
  color: white;
  height: 4.5em;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: .06rem;
}

.nav:hover {
  color: lightgrey;
}

p {
  font-weight: 400;
  margin-top: 0;
}

.shadow:hover {
  box-shadow: 0 3px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.bold {
  font-weight: 600;
}
.social {
  color: white;
}

.social:hover {
  color: #D500F9;
}

.email {
  color: white;
}

.caption {
  font-weight: 300;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}

h5 {
  font-weight: 600;
  margin-top: 0;
}

h4 {
  margin-top: 0.5em;

}

.line-length {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  text-decoration: underline;
}

.nav-banner {
  display: block;
  width: 100%;
}

a, .nav-link {
  color: #1C1C1C;
}

.footer {
  background-color: #1C1C1C;
  color: white;
  height: 12em;
}

.dashboard:hover {
  fill: #D500F9;
}

.email {
  color: lightgrey;
  font-weight: 300;
}
