html {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  background-color: #f9f9f9;
}

.button {
  color: #424242;
}

.button:hover {
  color: red;
}

.card {
  background-color: #fff;
  color: #424242;
}

.banner {
  background-color: #1C1C1C;
  color: white;
  height: 19em;
}

.nav {
  background-color: #1C1C1C;
  color: white;
  height: 4.5em;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: .06rem;
}

p {
  font-weight: 400;
}

.social {
  color: white;
}

.email {
  color: white;
}

h1, h2, h4 {
  font-weight: 600;
}

h2 {
  margin-top: 0
}

h5 {
  font-weight: 400;
  margin-top: 0
}

h4 {
  margin-top: 0.5em;

}

.line-length {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

.underline {
  text-decoration: underline;
}

.nav-banner {
  display: block;
  width: 100%;
}


.footer {
  background-color: #1C1C1C;
  color: white;
  height: 10em;
}
