---
layout: default
title: {{page.title}}
meta: {{page.meta}}
---

<section itemref="data-author" itemscope itemtype="https://schema.org/CreativeWork">

  <main class="wrapper push-1-2" id="main">

    <div class="wrapper gutter line-length">
      <h3 class="underline push-2 pad-t" itemprop="name">{{page.main-title}}</h3>
      <div class="push-2">
        <h3 itemprop="name" class="mega underline" itemprop="name">{{page.problem}}</h3>
        <p class="milli" itemprop="description">{{page.problem-text}}></p>
    </div>

    <div class="push-1-2">
      <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.main-image}}" alt="{{page.alt-main-image}}">
    </div>
    <div class="wrapper gutter line-length">
      <h3 itemprop="name" class="mega underline">{{page.solution}}</h3>
      <p itemprop="description" class="milli">{{page.solution-text}}</p>
      <h3 itemprop="name" class="mega underline">{{page.process}}</h3>
      <p itemprop="name" class="milli">{{page.step-one}}</p>
      <p itemprop="description" class="milli">{{page.step-one-text}}</p>
      <p itemprop="name" class="milli">{{page.step-two}}</p>
      <p itemprop="description" class="milli">{{page.step-two-text}</p>
    </div>

    <div class="wrapper gutter grid">
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.sketch-1}}" alt="{{page.alt-sketch1}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.sketch-2}}" alt="{{page.alt-sketch2}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.sketch-3}}" alt="{{page.alt-sketch3}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.sketch-4}}" alt="{{page.alt-sketch4}}">
      </div>
    </div>

    <div class="wrapper gutter line-length">
      <h3 itemprop="name" class="underline pad-t mega">{{page.pattern}</h3>
    </div>
    <div class="wrapper gutter grid">
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.pattern1}}" alt="{{page.alt-pattern1}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.pattern2}}" alt="{{page.alt-pattern2}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.pattern3}}" alt="{{page.alt-pattern3}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.pattern4}}" alt="{{page.alt-pattern4}}">
      </div>
    </div>

    <div class="wrapper gutter line-length">
      <h3 itemprop="name" class="underline pad-t mega">{{page.visual-design}</h3>
    </div>
    <div class="wrapper gutter grid">
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design1}}" alt="{{page.alt-visual-design1}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design2}}" alt="{{page.alt-visual-design2}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design3}}" alt="{{page.alt-visual-design3}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design4}}" alt="{{page.alt-visual-design4}}">
      </div>
    </div>
    <div class="wrapper gutter grid">
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design5}}" alt="{{page.alt-pattern5}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design6}}" alt="{{page.alt-visual-design6}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design7}}" alt="{{page.alt-visual-design7}}">
      </div>
      <div class="unit xs-1-2 s-1-2 m-1-4 gutter-1-2 push-1-2">
        <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.visual-design8}}" alt="{{page.alt-visual-design8}}">
      </div>
    </div>

    <div class="wrapper gutter line-length">
      <p itemprop="description" class="milli">{{page.one}}</p>
      <p itemprop="description" class="milli">{{page.two}}</p>
      <p itemprop="description" class="milli">{{page.three}}</p>
    </div>

  </main>
</section
